* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-container {
  display: flex;
  /* margin-top: 15vh; */
  justify-content: space-between;
  height: 100vh;
  align-items: center;
}

.about-container img {
  border-bottom: 11px solid #138085;
  height: 75%;
}

.about-text-container {
  /* background-color: antiquewhite; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-text {
  /* background-color: pink; */
  width: 65%;
  align-self: center;
}

.about-text-container h1 {
  font-family: raleway;
  font-weight: 800;
  font-size: 36px;
  color: #af618b;
  margin-bottom: 4.5rem;
}

.about-text-container p {
  font-family: open sans;
  font-weight: 400;
  font-size: 18px;
  color: #5c6373;
  margin: 2.5rem 0;
}
