* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: 60% 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.home-content-container {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 15vh;
  margin-left: 3.5rem;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 800px;
  font-size: 48px;
  color: #5c6373;
  width: 35vw;
}

.cta-btn {
  width: 15%;
  border: 3px solid #b25d7e;
  border-radius: 9px;
  background: rgba(215, 47, 133, 0.06);
  padding: 1rem 1.5rem;
  font-size: 24px;
  color: #663347;
  cursor: pointer;
  transition: all 0.05s ease-in-out;
}

.cta-btn:hover {
  box-shadow: 2px 2px 15px rgba(139, 104, 104, 0.25);
  background: rgba(215, 47, 134, 0.11);
}

.home-container a {
  text-decoration: none;
  color: #663347;
  transition: all 0.05s ease-in-out;
}

mark {
  background-color: #16696d;
  color: #f2f2f2;
  padding: 0 0.3rem;
}
