* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-container ul {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: 14px;
  /* background-color: #197479; */
  align-items: center;
}

ul li {
  margin: 1rem 3.5rem;
  cursor: pointer;
}

ul li:hover {
  color: #197479;
}

.logo {
  margin: 1rem;
}

.navbar-container a {
  text-decoration: none;
  color: #0a3e41;
}
