* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-container {
  list-style-type: none;
  display: flex;
  /* background: pink; */
  font-family: "Quicksand", sans-serif;
  color: #47494f;
  font-size: 14px;
  width: 40vw;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem;
}

.list {
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.list:hover {
  font-size: 14.5px;
  font-weight: 500;
}

.list a {
  text-decoration: none;
  color: #47494f;
}
